@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 80%;
    height: 70%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-section {
    flex: 0.5;
    background-size: cover;
    background: url('ictFront.png') no-repeat center center/cover;
    background-repeat: no-repeat;
    width: auto;
}

.form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 2rem;
}

.form-container {
    padding: 35px;
    border-radius: 32px;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #CDCDCD;
    background-color: #fff;
    width: 450px;
    text-align: center;
    flex-shrink: 0;
}

.form-container h2 {
    margin-bottom: 1rem;
    font-size: 24px;
    color: #333;
}

.form-container p {
    margin-bottom: 2rem;
    color: #666;
}

.form-container .input-group {
    position: relative;
    margin: 50px 0;
}

.form-container .input-group input {
    width: 100%;
    padding: 10px 40px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container .input-group input:focus {
    outline: none;
    border-color: #5cb85c;
}

.form-container .input-group .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
}

.form-container .input-group .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
    cursor: pointer;
}

.form-container .btn {
    width: 100px;
    height: 50px;
    padding: 10px;
    background-color: #048558;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: bold;
    float: right;

}

.form-container .btn:hover {
    background-color: #65cc7b;
}

.form-container a {
    display: block;
    margin-top: 1rem;
    font-size: 12px;
    color: #3D3D3D;
    text-decoration: none;
    text-align: left;
}

.form-container a:hover {
    text-decoration: underline;
}