@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: Inter;
    margin: 0;
    background-color: #f4f4f4;
}

.content {
    flex: 1;
    margin-left: 280px;
    padding-bottom: 48px;
}

/*.score-display {*/
/*    display: inline-block;*/
/*    padding: 5px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    min-width: 50px;*/
/*    text-align: center;*/
/*}*/
.document-score-input[readonly],
.present-score-input[readonly]{
    background-color: #f0f0f0;
    border-color: #ddd;
    color: #666;
    cursor: not-allowed;
}

#document-table td {
    padding: 8px;
    text-align: center;
}

.header-section {
    background-color: #00796b;
    color: white;
    padding: 20px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    height: 100px;
}

.gray-link {
    color: #919EAB;
    text-decoration: none;
}

.gray-link:hover {
    text-decoration: underline;
}

.body-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.project-details {
    max-width: 1500px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(13, 23, 33, 0.08), 0px 1px 2px 0px rgba(21, 30, 40, 0.08);
    padding: 20px;
    margin-left: 32px;
    margin-top: -60px;
}

#project-details div {
    margin-bottom: 16px;
    /* กำหนดระยะห่างระหว่าง div เท่ากัน */
}

#project-details span {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #D9D9D9;
    background-color: #FFF;
    border-radius: 4px;
}

.table-container {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(13, 23, 33, 0.08), 0px 1px 2px 0px rgba(21, 30, 40, 0.08);
    padding: 20px;
    margin-left: 32px;
}


table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* ทำให้ตารางใช้ขนาดที่กำหนด */
}

thead th {
    background-color: #f4f4f4;
    padding: 12px;
    border-bottom: 2px solid #ddd;
    text-align: center;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}


.checkbox-group {
    display: block;
    margin-bottom: 16px;
    font-weight: bold;
    color: #222;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
}

.max-score {
    font-size: 12px;
    color: #666;
    float: right;
}

.evaluation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

.evaluation-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
    vertical-align: top;
}

.evaluation-table th {
    border: 1px solid #ccc;
    padding: 12px;
}

.evaluation-table th {
    background-color: #f0f0f0;
}

thead th:first-child,
tbody td:first-child {
    width: 500px; /* ปรับค่าตามที่ต้องการ */
    overflow: hidden;
    text-align: left;
}

#document-table td{
    text-align: left;
}

input[type="number"] {
    width: 80%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.score-subtitle {
    font-size: 12px;
    color: #DA1E28;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 24px;
}

.card-score-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    width: 200px;
    text-align: center;
    gap: 32px;
}

.icon {
    font-size: 18px;
    color: #666;
    margin-bottom: 8px;
}

.score {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.save-button {
    align-self: flex-end; /* จัดให้ปุ่มอยู่ด้านขวา */
    padding: 15px 30px;
    font-size: 18px;
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #575757;
}

.comment-poster input {
    width: 85%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.comment-poster input:hover {
    border-color: #777;
    background-color: #f2f2f2;
}

/* modal save*/
/* Style the Modal */
.modal {
    display: none; /* Hide modal by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black with transparency */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.confirm-button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
}

#appearance-table td:last-child,
#content-table td:last-child,
#presentation-table td:last-child{
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding-right: 10px;
}

#appearance-table td:last-child input,
#content-table td:last-child input,
#presentation-table td:last-child input{
    width: 80%;
}

.invalid-score {
    border: 2px solid red !important;
    background-color: rgba(255, 0, 0, 0.1) !important;
    color: red;
}

.invalid-score:focus {
    outline-color: red;
}