@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: Inter;
    margin: 0;
    background-color: #f4f4f4;
    height: 100%;
}

.container {
    display: flex;
}

.content {
    flex: 1;
    margin-left: 280px;
}

.sidebar {
    background-color: #004343;
    color: white;
    width: 242px;
    height: 100vh;
    position: fixed;
    padding: 20px;
    overflow-y: auto;
}

/* ซ่อนแถบเลื่อน */
.sidebar::-webkit-scrollbar {
    width: 0px; /* ซ่อนแถบเลื่อน */
}

.sidebar h2 {
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: -5px;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
    list-style-type: disc;
    margin-left: 50px;
    padding: 5px;
}

.sidebar ul li a {
    color: #808891;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    padding: 10px 5px;
    border-radius: 5px;
    transition: background 0.3s, padding-left 0.3s;
}

.sidebar ul li a.active {
    background: rgba(255, 255, 255, 0.3); /* สีเทาโปร่งแสง */
    color: #ffffff; /* สีอักษรเทาอ่อน */
    padding-left: 10px; /* Active ขยับเข้ามา 10px */
}

.sidebar ul li a:hover {
    color: #ffffff;
    background-color: #E0E4EA80;
    padding-left: 15px;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: #004343;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: -0.5rem;

    /*Horizontal Vertical, Blur*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logout-button:hover {
    background-color: #f5f5f5;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logout-button i {
    font-size: 18px;
}


